# Ignore everything
/*

# Ignore backups
/**/*.bak

# Except
!.gitignore

!*.md
!.bashrc
!.bash_profile
!.config
!.vimrc
!.vim
!.xinitrc
!.xprofile
!.xresources
!.pkgs
!.zshrc
!.local
!.gtkrc-2.0.mine
