# Ignore everything by default
/*
!.gitignore

# Except these files and folders
!README.md
!.bashrc
!.bash_profile
!.config
!.xinitrc
!.gitconfig
!.local
!.bash_git
!.vimrc
!.vim
!.pkgs
!.screenshots
!.Xprofile
!.Xresources
!.pkgs
