# Ignore everything
/*

# Ignore backups
/**/*.bak

# Except
!.gitignore

!*.md
!.bashrc
!.bash_profile
!.config
!.xinitrc
!.vimrc
!.vim
!.Xprofile
!.Xresources
!.pkgs
!.zshrc
!.local
!.gtkrc-2.0.mine
