# Ignore everything
/*

# Except
!.gitignore

!alacritty
!htop
!i3
!i3blocks
!i3status
!neofetch
!picom
!qtile
!ranger
!rofi
!Thunar
!starship.toml
!screenkey.json
!dconf
!flameshot
!pavucontrol.ini
!pulse
